.luffy {
    background-image: url("../assets/luffy.jpeg?__sprite");
    width: 200px;
    height: 200px;
}

.zero {
    background-image: url("../assets/zero.jpeg?__sprite");
    width: 240px;
    height: 240px;
}